.color{
    color: red;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

.name{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

#grade{
    padding-bottom: 58%;
}


@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

.geral {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%;
    border: none;
    .pessoas {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 150%;
    background-image: url('/assets/img/download.png');
    background-size: contain;
    transition: all 0.5s;
    border: none;
    }
}

ion-content {
    --overflow: hidden;
}

.black{
    background-color: black;
}

.branco{
    color: white;
}