<ion-header>
  <ion-toolbar>
    <ion-title text-center> MyEvent - {{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="product.imagem">
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descrição</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ product.description }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações de Data e Horário</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Em{{ product.data }} das {{ product.horaInicio }} às {{ product.horaFim }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações de contato</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Telefone: {{ product.telefone }}<br />
      E-mail: {{ product.email }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como chegar lá?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div #map style="width: 305px; height: 300px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button routerLink="/painel" color="success" expand="block">
    Painel de Eventos
  </ion-button>
</ion-footer>