<ion-header>
  <ion-toolbar>
    <ion-title text-center>MyEvent - Doações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!paidFor" id="painel" text-center padding>
    <h3>Pague um café para o MyEvent!</h3>

    <p>
      MyEvent não têm como objetivo lucrar
      mas se você gostou do nosso aplicativo e deseja nos ajudar
      a melhorá-lo cada vez mais, você pode estar doando para a gente
      é apenas uma pequena quantia! Ficaremos grato com sua ajuda! 
    </p>

    <p style="color: red">No momento aceitamos apenas pagamentos via PayPal mas em breve estaremos adicionando outros meios...</p>

    <h6>{{ product.description }}</h6>

  </div>

  <div #paypal padding id="paypal"></div>
</ion-content>

<ion-footer no-border>
  <ion-button [routerLink]="['/painel']" color="success" expand="block">
    Painel de Eventos
  </ion-button>
</ion-footer>