<ion-header>
    <p text-center>MyEvent</p>
</ion-header>

<ion-content class="swiper-no-swiping" padding>
  <!-- BOTÔES SLIDE CADASTRO E LOGIN-->
  <div class="container top" [hidden]="keyboard.isVisible">
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login">
      <ion-segment-button mode="ios" value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- SLIDE DE CADASTRO E LOGIN -->
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="dark" expand="block">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastro</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" expand="block">
          Cadastre-se
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
    
  <!-- CONTAINER FINAL DE TEXTO -->
  <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible">
    <span>Anuncie e gerencie o seu evento!</span>
  </div>
</ion-content>