<ion-header>
  <p text-center class="texto">MyEvent</p>
</ion-header>

<ion-content padding overflow-scroll="false">
  <div text-center class="textoinicio">
    <p class="texto">
      Bem-vindo(a) ao MyEvent!<br />
      Para começar a usar o nosso aplicativo é<br />
      necessário fazer login com uma das redes sociais abaixo:
    </p>
  </div>

  <div>
    <ion-button color="dark" size="block" (click)="facebookLogin()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Entre com o Facebook
    </ion-button>
  <!--
    <ion-button color="dark" size="block" routerLink="/loginmail">
      <ion-icon name="mail" slot="start"></ion-icon>
      E-mail e Senha
    </ion-button>
  -->
  </div>
  
  <div class="geral">
    <div class="pessoas" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
  </div>

</ion-content>

<ion-footer>
  <div text-center padding class="black">
    <p class="branco">Anuncie e gerencie o seu evento!</p>
  </div>
</ion-footer>