<ion-header>
    <p text-center>MyEvent</p>
</ion-header>

<ion-content padding overflow-scroll="false">
  <!-- BOTÔES SLIDE CADASTRO E LOGIN-->
  <div class="painelBts">
    <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="login" color="dark">
      <ion-segment-button mode="ios" value="login">
        <ion-label>LOGIN</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register" color="dark">
        <ion-label>CADASTRE-SE</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- SLIDE DE CADASTRO E LOGIN -->
  <ion-slides>
    <ion-slide>
      <div class="painelLogin">
        <span>LOGIN</span>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button (click)="login()" color="dark" expand="block">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="painelRegistro">
        <span>CADASTRO</span>

        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button (click)="register()" expand="block" color="dark">
          Cadastre-se
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  
  <div class="geral">
      <div class="pessoas" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
  </div>
  
</ion-content>

<ion-footer>
  <div text-center padding>Anuncie e gerencie o seu evento!</div>
</ion-footer>